
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: navy;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    font-size: 20px;
}


@media (max-width: 768px) {

    body {
        background-color: lightcoral; 
    }

    main {
        font-size: 16px;
    }

    nav {
        flex-direction: column; 
        align-items: center;
    }

    nav a {
        padding: 10px 0;
        font-size: 16px;
    }
}