
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}


.main-container {
    display: flex;   
}


.sidebar {
    width: 20%;
    padding: 20px;
    background-color: #f4f4f4;
}


input[type="checkbox"] {
    margin-right: 8px;
}


.product-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.product-card {
    width: 200px;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
    position: relative;
}


.product-card img {
    width: 100%;
}


.product-card:hover {
    transform: scale(1.05);
    border-color: #000;
}


.product-card:nth-child(even) {
    background-color: #f9f9f9;
}


.product-card button {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #555;
}


#cart {
    padding: 30px;
    background-color: #eee;
    text-align: center;
}


footer {
    background-color: #222;
    color: white;
    padding: 15px;
    text-align: center;
}
